<div class="template-drive clearfix">
  <a href="https://angular.cn/api?type=pipe"
   target="_blank">表单</a> <br /><br />

  <a href="https://semlinker.com/ng-form-quick-start/#Angular-%E8%A1%A8%E5%8D%95%E7%AE%80%E4%BB%8B"
   target="_blank">Learn from this</a> <br /><br />

  <code>
    -- 01 --
    <pre>
      Template Driven Forms - 模板驱动式表单
        - 使用方便
        - 适用于简单的场景
        - 通过 [(ngModel)] 实现数据双向绑定
        - 自动生成 Form Model (异步)
        - 最小化组件类的代码
        - 不易于单元测试
    </pre>
  </code>

  <code>
    -- 02 --
    <pre>
      Reactive Forms - 响应式表单
        - 比较灵活
        - 适用于复杂的场景
        - 简化了HTML模板的代码，把验证逻辑抽离到组件类中
        - 手动创建 Form Model (同步)
        - 方便的跟踪表单控件值的变化
        - 易于动态添加表单控件
        - 易于单元测试
    </pre>
  </code>

</div>
