<section class="kjf-create-date-stream">
  <h5>(1)</h5> <br /><img src="./assets/rxjs/signal_to_stream.png" alt="of(1, 2) 单一值转为流" /><br />
  <h5>(2)</h5> <br /><img src="./assets/rxjs/array_to_stream.png" alt="from([1, 2]) 数组转为流" /><br />
  <h5>(3)</h5> <br /><img src="./assets/rxjs/num_range_stream.png" alt="range(1, 10) 范围转为流" /><br />
  <h5>(4)</h5> <br /><img src="./assets/rxjs/from_promise_stream.png" alt="fromPromise(xxxPromise) xxxPromise 转为流" /><br />
  <h5>(5)</h5> <br /><img src="./assets/rxjs/timer_stream.png" alt="timer(3000, 1000) setInterval 转为流" /><br />
  <h5>(6) fromEvent</h5>
  <code>
    <pre>
      <input #elementUserInput type="text" />
    </pre>
  </code>
</section>
