$white: #fff !default;
$black: #000 !default;
$gray-80: #fafafa !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$text-color: #252b3a !default;

$gray-base: #adb0b8 !default;
$gray-divider-color: #dfe1e6 !default;
$gray-f8: #f8f8f8 !default;
$pink-dark: #c7254e !default;

$font-size-base: 12px !default;
$font-size-primary: 16px !default;
$font-size-secondary-card-title: 14px !default;
$font-size-modal-title: 18px !default;

$font-title-weight: bold !default;
$font-content-weight: normal !default;

$line-height-base: 1.5 !default;

$body-background: $white !default;
$font-size-page-title: $font-size-primary !default;
$font-variant-base: tabular-nums !default;
$font-family: 'Helvetica Neue', helvetica, arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
sans-serif;

$hr-color: $gray-base !default;

$base-link-color: #526ecc !default;
$custom-link-color: $base-link-color !default;
$custom-link-hover-color: #344899 !default;

$custom-link-light-color: #96adfa !default;
$custom-link-light-hover-color: #beccfa !default;

$base-placeholder-color: #8a8e99 !default;

$scrollbar-base-bg: $gray-base !default;

/**** svg ****/
$kjf-text-weak: #575d6c !default;
$kjf-disabled-text: #adb0b8 !default;
$kjf-list-item-hover-bg: #f2f5fc !default;
$kjf-list-item-hover-text: #526ecc !default;
$kjf-brand-active: #526ecc !default;
$kjf-brand-active-focus: #344899 !default;
$kjf-icon-fill-active: #5e7ce0 !default;
$kjf-dividing-line: #dfe1e6 !default;
$kjf-form-control-line-active: #5e7ce0 !default;
$kjf-form-control-line-active-hover: #344899 !default;
/**** svg over ****/
