.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.unselected-able {
  /* 内容不可以被选中 */
  // -webkit-user-select: none;
  -webkit-user-select: auto;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line_two_point { /* 第二行出现省略号 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line_3_point { /* 第3行出现省略号 */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

a,
a:hover,
a:focus {
  color: $base-link-color;
}

a:active,
a:hover {
  outline: 0;
}

.custom-link {
  color: $custom-link-color;

  &:hover {
    color: $custom-link-hover-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.custom-link-light {
  color: $custom-link-light-color;

  &:hover {
    color: $custom-link-light-hover-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.kjf-tab-2 {
  display: block;
  padding-left: 2%;
}

.kjf-tab-4 {
  display: block;
  padding-left: 4%;
}

.kjf-tab-6 {
  display: block;
  padding-left: 6%;
}

.kjf-tab-8 {
  display: block;
  padding-left: 8%;
}

.kjf-tab-10 {
  display: block;
  padding-left: 10%;
}

.kjf-tab-12 {
  display: block;
  padding-left: 12%;
}

.kjf-purple-font {
  display: inline;
  color: $purple-color;
  font-weight: 700;
  font-size: 1.2em;
}

.kjf-orange-font {
  display: inline;
  color: $orange-color;
  font-weight: 700;
  font-size: 1.2em;
}

.kjf-tips-font {
  display: inline;
  color: $tips-color;
  font-weight: 700;
}

.kjf-inline-pointer {
  display: inline;
  color: $custom-link-color;
  font-family: $code-font-family;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0;
  cursor: pointer;
}

.kjf-bolder-font {
  font-weight: 700;
  font-size: 1.2em;
}
