<div class="form-learn clearfix">
  <a href="https://angular.cn/api?type=pipe"
   target="_blank">表单及其分类</a> <br /><br />

  <a href="https://semlinker.com/ng-form-quick-start/#Angular-%E8%A1%A8%E5%8D%95%E7%AE%80%E4%BB%8B"
   target="_blank">Learn from this</a> <br /><br />

  <code>
    -- 01 --
    <pre>
      货币前缀
        <span ngNonBindable>{{123.456 | <span class="kjf-purple-font">currency</span>:'￥'}}</span>
          --->
            {{ 123.456 | currency:'￥' }}
    </pre>
  </code>

</div>
