<div class="flow-chart-step">
  <div *ngIf="!flowChartStep.is_root" class="top-y-line-box">
    <div class="top-x-line-wrapper">
      <div
        class="top-x-line"
        [ngClass]="{
          'only-one': true,
          'first-frame': false,
          'last-frame': false
        }"
      ></div>
    </div>

    <div class="top-y-line">
      <div class="top-y-line-arrow"></div>
    </div>
  </div>

  <div class="flow-chart-step-box">
    <div class="flow-chart-step-wrapper">
      <div class="flow-chart-step-content" [ngClass]="{ 'trigger-open': flowChartStep?.directives?.open }">
        <div
          class="flow-chart-step-head unselected-able"
          [ngClass]="{ 'trigger-close': !flowChartStep?.directives?.open }"
        >
          <ng-container *ngIf="!flowChartStep.is_deleted">
            <div class="flow-chart-step-title" (click)="toggleFlowChartDetail()">{{ flowChartStep.element_name }}</div>
            <thy-icon thyIconName="more" class="flow-chart-step-menu"></thy-icon>
          </ng-container>
          <ng-container *ngIf="flowChartStep.is_deleted">
            <div class="flow-chart-step-title">添加触发器</div>
          </ng-container>
        </div>
        <flow-chart-detail [flowChartDetail]="flowChartStep"></flow-chart-detail>
      </div>
    </div>

    <div
      *ngIf="!isLeafNode"
      class="bottom-y-line-box"
      [ngClass]="{
        'longer-y-line': flowChartStep.next_steps && flowChartStep.next_steps.length > 1
      }"
    >
      <div class="bottom-y-line">
        <div class="add-flow-chart-step-box">
          <button
            class="add-flow-chart-step-btn"
            thyButtonIcon="plus-bold"
            thyShape="circle-dashed"
            thySize="sm"
            (click)="toggleAddFlowChartStepPopper()"
          ></button>
          <div
            class="add-flow-chart-step-popper"
            [ngClass]="{
              active: addFlowChartStepPopper
            }"
          >
            <div class="add-frame-into-array unselected-able" (click)="addFlowChartStepIntoArray(flowChartStep)">增加一个并行元素</div>
            <div class="add-flow-chart-step unselected-able" (click)="addFlowChartStep(flowChartStep)">增加一个 action</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="flowChartStep.next_step">
    <flow-chart [flowChartStep]="flowChartStep.next_step"></flow-chart>
  </ng-container>
</div>
