<section class="inject-des">
  <br />
  <br />
  inject-des component html
  <hr />
  <div class="inject-des-content">
    <div class="question-title">什么是依赖注入？</div>
    <div class="question-answer tab-4">就是一个对象 a，依赖于一个对象 B </div>
    <div class="question-answer tab-4">假设很多个对象，都依赖 B 对象，为了代码复用以及扩展性，把 B 抽象为一个 class</div>
    <div class="question-answer tab-4">class B 需要实例化成对象，才能被使用</div>
    <div class="question-answer tab-4 weighted">依赖注入解决的就是：</div>
    <div class="question-answer tab-8">1. 在对象 a，如何实例化 依赖class B</div>
    <div class="question-answer tab-8">2. 对象 a 什么时候实例化 依赖class B</div>
    <div class="question-answer tab-8">3. 对象 a 如何实例化 依赖 B C D 这样的多依赖</div>
    <div class="question-answer tab-4">就 angular 来说，组件 class A 依赖于 class B，那么实例化组件A 时，有以下几种应用：</div>
  </div>
</section>
