@import '../../kjf-ngx/style/kjf-ngx-var';

:host {
  display: block;
}

.kjfui-alert {
  color: $text-color;
  font-size: 12px;
  border: 1px solid transparent;
  padding: 10px;
  line-height: 20px;
  border-radius: 2px;
  padding-left: 16px;

  button.kjfui-close {
    color: $text-color;
    opacity: 1;
    box-shadow: none;

    & > svg path {
      fill: red;
    }

    span {
      color: $text-color;
      font-size: 12px;
      font-weight: bold;
    }
  }

  &.kjfui-alert-success {
    background-color: $white;
    border-color: #eeeeee;
    color: $text-color;
    box-shadow: #0f0;

    button.kjfui-close {
      & > svg path {
        fill: #eeeeee;
      }
    }
  }

  &.kjfui-alert-info {
    background-color: $white;
    border-color: #999999;
    color: $text-color;

    button.kjfui-close {
      & > svg path {
        fill: #999999;
      }
    }
  }

  .kjfui-icon.kjfui-icon-success {
    & > g {
      path {
        fill: #eeeeee;
      }

      polygon {
        fill: red;
        stroke: red;
      }
    }
  }

  .kjfui-icon.kjfui-icon-warning {
    & > g {

      path.kjfui-icon-warning-inner {
        fill: red;
        stroke: red;
      }
    }
  }

  .kjfui-icon.kjfui-icon-info {
    & > g {

      path.kjfui-icon-info-inner {
        fill: red;
        stroke: red;
      }
    }
  }

  .kjfui-icon.kjfui-icon-error {
    & > g {

      path.kjfui-icon-error-inner {
        fill: red;
        stroke: red;
      }
    }
  }
}

.kjfui-alert-icon {
  margin-right: 4px;
}
