<div class="app-container">
  <div class="app-bar">
    <header>
      <h1 class="title">
        <a target="_self" href="/home">
          <span class="text">KjfUI</span>
        </a>
      </h1>
      <div class="main-nav">
        <a class="main-nav-item" target="_self" href="/design-cn" routerLinkActive="active">
          <span>寇</span>
        </a>
        <a class="main-nav-item" routerLink="components" routerLinkActive="active">
          <span>剑</span>
        </a>
        <a class="main-nav-item" target="_self" href="/icon" routerLinkActive="active">
          <span>峰</span>
        </a>
      </div>
      <div id="headerMenu" class="header-menu"><span></span></div>
    </header>
  </div>

  <router-outlet></router-outlet>
</div>
