<div class="pipe-learn clearfix">
  <a href="https://angular.cn/api?type=pipe"
   target="_blank">内建管道及其分类</a> <br /><br />

  <a href="https://semlinker.com/ng-pipe-quick-start/#%E5%86%85%E5%BB%BA%E7%AE%A1%E9%81%93%E5%8F%8A%E5%88%86%E7%B1%BB"
   target="_blank">Learn from this</a> <br /><br />

  pure 管道：仅当管道输入值变化的时候，才执行转换操作，默认的类型是 pure 类型。<br />
    （备注：输入值变化是指原始数据类型如：string、number、boolean 等的数值或对象的引用值发生变化）。
  <br />
  impure 管道：在每次变化检测期间都会执行，如鼠标点击或移动都会执行 impure 管道。<br /><br />

  <code>
    -- 01 --
    <pre>
      订阅渲染 Observable 对象
        <span ngNonBindable>{{ objObservable | <span class="kjf-purple-font">async</span> | json }}</span>
          --->
    </pre>
    {{ objObservable | async | json }}
  </code>

  <code>
    -- 02 --
    <pre>
      货币前缀
        <span ngNonBindable>{{123.456 | <span class="kjf-purple-font">currency</span>:'￥'}}</span>
          --->
            {{ 123.456 | currency:'￥' }}
    </pre>
  </code>

  <code>
    -- 03 --
    <pre>
      字符串/数组 截取
        <span ngNonBindable>{{"StringObject" | <span class="kjf-purple-font">slice</span>:0:6}}</span>
          --->
            {{"StringObject" | slice:0:6}}
    </pre>
  </code>

  <code>
    -- 04 --
    <pre>
      字母转换成大写
        'pipe-learn' | <span class="kjf-purple-font">uppercase</span>
          --->
            {{ 'pipe-learn' | uppercase }}
    </pre>
  </code>

  <code>
    -- 05 --
    <pre>
      字母转换成小写
        'Pipe Learn' | <span class="kjf-purple-font">lowercase</span>
          --->
            {{ 'Pipe Learn' | lowercase }}
    </pre>
  </code>

  <code>
    -- 06 --
    <pre>
      数值格式化
        管道可以接收任意数量的参数，使用方式是在管道名称后面添加 : 和参数值。
        如 number: '1.4-4' ，若需要传递多个参数则参数之间用<span class="kjf-orange-font">冒号</span>隔开，具体示例如下：
          '3.14159' | <span class="kjf-purple-font">number: '1.4-4'</span>
            --->
              {{ '3.14159' | number: '1.4-4' }}
    </pre>
  </code>

  <code>
    -- 07 --
    <pre>
      日期格式化
        <span ngNonBindable>{{ testToday | <span class="kjf-purple-font">date</span>: 'yyyy-MM-dd hh:mm:ss' }}</span>
          --->
          {{ testToday | date: 'yyyy-MM-dd hh:mm:ss' }}

      'yyyy': 4位数字的年份(如AD 1 => 0001, AD 2010 => 2010)
      'yy': 2位数字的年份，范围为(00-99)。(如AD 2001 => 01, AD 2010 => 10)
      'y': 1位数字的年份，例如 (AD 1 => 1, AD 199 => 199)
      'MMMM': 月份 (January-December)
      'MMM': 月份 (Jan-Dec)
      'MM': 月份, padded (01-12)
      'M': 月份 (1-12)
      'dd': 日，范围为(01-31)
      'd': 日 (1-31)
      'EEEE': 星期,(Sunday-Saturday)
      'EEE': 星期, (Sun-Sat)
      'HH': 小时, 范围为(00-23)
      'H': 小时 (0-23)
      'hh': am/pm形式的小时, 范围为(01-12)
      'h': am/pm形式的小时, (1-12)
      'mm': 分钟,范围为 (00-59)
      'm': 分钟 (0-59)
      'ss': 秒, 范围为 (00-59)
      's': 秒 (0-59)
      '.sss' or ',sss': 毫秒,范围为 (000-999)
      'a': am/pm 标记
      'Z': 4 位数字的时区偏移(+符号)(-1200-+1200)
      'ww': ISO-8601 年内的周数 (00-53)
      'w': ISO-8601 年内的周数 (0-53)

      format 字符串也可以是以下预定义的本地化格式之一:
      'medium': 等于en_US本地化后的 'MMM d, y h:mm:ss a' (如：Sep 3, 2010 12:05:08 pm)
      'short': 等于en_US本地化后的 'M/d/yy h:mm a' (如： 9/3/10 12:05 pm)
      'fullDate': 等于en_US本地化后的 'EEEE, MMMM d, y' (如： Friday, September 3, 2010)
      'longDate': 等于en_US本地化后的 'MMMM d, y' (如： September 3, 2010)
      'mediumDate': 等于en_US本地化后的 'MMM d, y' (如： Sep 3, 2010)
      'shortDate': 等于en_US本地化后的 'M/d/yy' (如： 9/3/10)
      'mediumTime': 等于en_US本地化后的 'h:mm:ss a' (如： 12:05:08 pm)
      'shortTime': 等于en_US本地化后的 'h:mm a' (如： 12:05 pm)
      format 字符串可以包含固定值。这需要用单引号括起来 (如： "h 'in the morning'")。如果要输出单引号，使序列中使用两个单引号(如： "h 'o''clock'")
    </pre>
  </code>

  <code>
    -- 08 --
    <pre>
      对象转换成 keyvalue 数组
        可以将多个管道连接在一起，组成管道链对数据进行处理
          {{'{'}}2: 'foo', 1: 'bar'{{'}'}} | <span class="kjf-purple-font">keyvalue</span>
            --->
              {{'{'}}{{'{'}} object | keyvalue | json {{'}'}}{{'}'}}
                --->
    </pre>
    {{ object | keyvalue | json }}
  </code>

  <code>
    -- 09 --
    <pre>
      自定义管道步骤
          1) 使用 @Pipe 装饰器定义 Pipe 的 metadata 信息
            如 Pipe 的名称 - 即 name 属性

          2) 实现 PipeTransform 接口中定义的 transform 方法
              import {{'{'}} Pipe, PipeTransform {{'}'}} from '@angular/core';

              @Pipe({{'{'}} name: 'welcome' {{'}'}})
              export class WelcomePipe implements PipeTransform {{'{'}}
                transform(value: string): string {{'{'}}
                  if(!value) return value;
                  if(typeof value !== 'string') {{'{'}}
                    throw new Error('Invalid pipe argument for WelcomePipe');
                  {{'}'}}
                  return "Welcome to " + value;
                {{'}'}}
              {{'}'}}

          3) 在 module.ts 的 declarations 中声明管道

          4) 使用
              <span ngNonBindable>{{ 'semlinker' | welcome }}</span>
                ---->
                  {{ 'semlinker' | welcome }}
    </pre>
  </code>

</div>
