<section class="kjf-usual-operator">
  <h5>(1)</h5> <br /><img src="./assets/rxjs/op_retry_fail.png" alt="retry(2) 失败后，重试两次" /><br />
  <h5>(2)</h5> <br /><img src="./assets/rxjs/op_retry_ok.png" alt="repeat – 成功时重试" /><br />
  <h5>(3)</h5> <br /><img src="./assets/rxjs/op_delay.png" alt="delay – 延迟" /><br />
  <h5>(4)</h5> <br /><img src="./assets/rxjs/op_to_array.png" alt="toArray – 收集为数组" /><br />
  <h5>(5)</h5> <br /><img src="./assets/rxjs/op_debounce_time.png" alt="debounceTime – 防抖" /><br />
  <h5>(5)</h5> <br /><img src="./assets/rxjs/op_switch_map.png" alt="switchMap – 切换成另一个流" /><br />
</section>
