@import './rule-flow-chart-detail/rule-flow-chart-detail.component.scss';

.rule-flow-chart-step {
    box-sizing: border-box;
    width: 100%;
    .top-y-line-box {
        box-sizing: border-box;
        height: 4vh;
        min-height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .top-x-line-wrapper {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            .top-x-line {
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border-top: 1px solid $gray-400;
                position: absolute;
                top: 0;
                left: 0;
                &.only-one {
                    display: none;
                }
                &.first-frame {
                    left: 50%;
                }
                &.last-frame {
                    left: -50%;
                }
            }
        }
        .top-y-line {
            box-sizing: border-box;
            width: 1px;
            height: 100%;
            background-color: $gray-400;
            position: relative;
            .top-y-line-arrow {
                width: 10px;
                height: 10px;
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translateX(-50%);
                &::before {
                    transition: opacity 0.2s;
                    opacity: 1;
                    display: block;
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 6px;
                    right: 0;
                    border: 5px solid transparent;
                    border-top-color: $gray-400;
                }
            }
        }
    }
    .rule-flow-chart-step-box {
        box-sizing: border-box;
        width: 100%;
        .rule-flow-chart-step-wrapper {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .rule-flow-chart-step-content {
                width: 20%;
                min-width: 600px;
                min-height: 66px;
                box-sizing: border-box;
                background: $white;
                border-radius: 4px;
                .rule-flow-chart-step-head {
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    height: 66px;
                    line-height: 66px;
                    cursor: pointer;
                    padding: 18px 20px;
                    .rule-flow-chart-step-title {
                        box-sizing: border-box;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .rule-flow-chart-step-menu {
                        box-sizing: border-box;
                        width: 24px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 20px;
                        color: $gray-500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .trigger-open {
                box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
            }
            .trigger-close:hover {
                box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
                background: $gray-80;
                border-radius: 4px;
            }
        }
        .bottom-y-line-box {
            box-sizing: border-box;
            height: 4vh;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .bottom-y-line {
                width: 1px;
                height: 100%;
                background-color: $gray-400;
                position: relative;
                .add-rule-flow-chart-step-box {
                    box-sizing: border-box;
                    width: 30px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .add-rule-flow-chart-step-btn {
                        position: absolute;
                        top: 28px;
                        left: -15px;
                        z-index: 2;
                        background: $gray-100;
                    }
                    .add-rule-flow-chart-step-popper {
                        display: none;
                        box-sizing: border-box;
                        width: 160px;
                        height: 60px;
                        box-shadow: 0 10px 24px 1px rgba(64, 90, 163, 0.13);
                        background-color: $gray-80;
                        position: absolute;
                        top: 0;
                        left: 100%;
                        z-index: 9;
                        .add-frame-into-array,
                        .add-rule-flow-chart-step {
                            box-sizing: border-box;
                            width: 100%;
                            height: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            &:hover {
                                background-color: rgba(64, 90, 163, 0.06);
                            }
                        }
                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .flow-rule-flow-chart {
        display: flex;
        justify-content: center;
    }
}
