<div class="rxjs6-observer clearfix">
  <code>
    <pre>

      是一个有三个方法的对象 {{'{'}}
        next: 当 Observable 发出新的值时被调用，接收这个值作为参数
        complete：当 Observable 完结，没有更多数据时被调用。complete 之后，next 方法无效
        error：当 Observable 内部发生错误时被调用，之后不会调用 complete，next 方法无效
      {{'}'}}
    </pre>
  </code>

  <code><pre [innerHTML]="code1"></pre></code>
  <pre>

    上面这段程式码会印出：
      Jerry
      Anna
      complete
  </pre>

  <code><pre>
    <span>
    我们也可以直接把 next, error, complete 三个 function 依序传入 observable.subscribe，如下
    </span>
    observable.subscribe(
        value => {{'{'}} console.log(value); {{' }'}},
        error => {{'{'}} console.log('Error: ', error); {{' }'}},
        () => {{'{'}} console.log('complete') {{' }'}}
    )

    <span>observable.subscribe 会在内部自动组成 observer 物件来操作</span>
  </pre></code>

  <br /><br /><br />
</div>
